:host {
  display: block;
}

.main-container {
  display: flex;
  height: 100vh;
}

.content-area {
  margin-left: 150px;
  /* padding: 20px; */
  flex-grow: 1;
  overflow-y: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
